.wd-search {
    width: 95%;
    border-radius: 25px;
    border: none;
    outline:none;
    background-color: white;
    color: black;
}

.wd-search-icon {
    position: absolute;
    top: 14px;
    z-index: 3;
}


.wd-big_image {
    text-align: center;
    color: white;
}

.wd-supporting_text{
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-main_text {
    font-weight: bold;
}

.wd-clickbait {
    width: 100px;
    height: 100px;
    float: right;
    border-radius: 25px;
}

.wd-profile {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.wd-follow_button {
    float: right;

}