body {
    background-color: black;
}

.wd-border {
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
}

.wd-border_rounded_bottom {
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

